@media (max-width: 1600px){
  .container-big {
    padding: 0;
  }
}

@media (max-width: 1280px) {
  .about__title {
    font-size: 140px;
  }
  .about__achievements {
    gap: 20px;
  }
  .about__progress-box {
    gap: 0 20px;
  }
}

@media (max-width: 980px) {
  .about__title {
    font-size: 100px;
  }
  .about__text {
    font-size: 24px;
  }
  .about__achievement {
    flex-wrap: wrap;
  }
  .about__stats {
    gap: 20px;
  }
}

@media (max-width: 870px){
  .about__progress-text {
    font-size: 28px;
  }
  .about__progress-box {
    flex-wrap: wrap;
  }
  .about__progress-img {
    width: 100%;
    object-fit: cover;
    height: 340px;
  }
  .about__stats {
    flex-wrap: wrap;
  }
}

@media (max-width: 678px){
  .about__stats-item {
    width: 100%;
  }
}

@media (max-width: 510px) {
  .about__achievements{
    flex-wrap: wrap;
  }
  .about__title {
    font-size: 64px;
  }
  .about__text {
    font-size: 18px;
  }
}