/* Первый размер до второго должно добежать 1600px > 1280px, 1280 > 1048px  */
@media (max-width: 1600px){
  .container-big {
    padding: 0;
  }
  .slogan__title {
    font-size: 140px;
  }
  .slogan__text {
    font-size: 26px;
  }
  .slogan__img {
    margin-top: -75px;
  }
}

@media (max-width: 1280px) {
  .about__title {
    font-size: 140px;
  }
  .about__achievements {
    gap: 20px;
  }
  .about__progress-box {
    gap: 0 20px;
  }
  .partners__inner {
    gap: 20px;
  }
  .blog__items {
    gap: 20px;
    grid-template-columns: 380px auto;
  }
  .partners__info {
    max-width: 350px;
  }
}

@media (max-width: 1048px) {
  .blog__items {
    grid-template-columns: 1fr;
  }
  .blog__item-titlelink {
    max-width: 500px;
  }
  .blog__item-img {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .about__title {
    font-size: 100px;
  }
  .about__text {
    font-size: 24px;
  }
  .about__achievement {
    flex-wrap: wrap;
  }
  .about__stats {
    gap: 20px;
  }
  .partners__inner {
    flex-wrap: wrap;
  }
  .partners__info {
    max-width: 100%;
  }
  .partners__box {
    width: 100%;
  }
  .menu__btn {
    display: flex;
    width: 40px;
    flex-direction: column;
    gap: 8px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 5;
  }
  .menu {
    order: 1;
  }
  
  .menu__btn span {
    width: 100%;
    height: 3px;
    background-color: #000;
  }
  .menu__list {
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: #F4F4E7;
    padding: 95px 0;
    gap: 20px 0;
    transform: translateY(-100%);
    transition: transform .5s ease; 
  }
  .menu__list.menu--active {
    transform: translateY(0);
  }
}

@media (max-width: 870px){
  .about__progress-text {
    font-size: 28px;
  }
  .about__progress-box {
    flex-wrap: wrap;
  }
  .about__progress-img {
    width: 100%;
    object-fit: cover;
    height: 340px;
  }
  .about__stats {
    flex-wrap: wrap;
  }
  .products__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .slogan__title {
    font-size: 64px;
  }
  .slogan__img {
    margin-top: -35px;
  }
  .footer__top {
    padding-right: 0;
  }
}

@media (max-width: 790px){
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__logo {
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 678px){
  .about__stats-item {
    width: 100%;
  }
  .blog__item-small {
    gap: 20px;
    flex-wrap: wrap;
  }
  .partners__box-text {
    padding: 20px;
  }
  .partners__box-top {
    flex-wrap: wrap;
  }
  .partners__box-top img {
    width: 100%;
  }
  .partners__box-list {
    border-top: 120px;
  }
}

@media (max-width: 560px) {
  .footer__element {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__bottom {
    display: block;
  }
  .footer__bottom-item {
    margin-bottom: 10px;
  }
}

/* 540 to 340  */
@media (max-width: 510px) {
  .header__inner {
    flex-wrap: wrap;
    gap: 20px 65px;
  }
  .menu {
    order: 0;
  }
  .header__contacts {
    margin-left: auto;
  }
  .about{
    margin-bottom: 50px;
  }
  .about__achievements{
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .about__title {
    font-size: 64px;
  }
  .about__text {
    font-size: 18px;
  }
  .about__achievement-img {
    width: 100%;
  }
  .about__achievement-imgbox {
    min-width: 100%;
  }
  .about__top {
    min-height: 440px;
  }
  .about__stats {
    margin-bottom: 30px;
  }
  .about__progress-text {
    font-size: 22px;
  }
  .about__progress-item {
    display: block;
  }
  .about__progress-item dd {
    margin-left: 0;
    margin-top: 15px;
  }
  .products__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .products__item-title {
    font-size: 24px;
  }
  .products__title {
    font-size: 24px;
  }
  .slogan {
    padding-top: 30px;
  }
  .slogan__text {
    font-size: 18px;
  }
  .partners {
    padding: 50px 0;
  }
  .partners__info-title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .partners__box-list {
    padding-left: 0;
  }
  .blog__wrapper {
    padding: 50px 0;
  }
  .blog__title {
    font-size: 28px;
  }
  .footer {
    padding: 50px 0;
  }
}