body {
  font-size: 16px;
  color: #0E0D0D;
  background-color: #FDFDF0;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.menu__list {
  display: flex;
  gap: 0 30px;
}

.menu__link {
  text-transform: uppercase;
}

.header__contacts {
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 50px;
  color: #fff;
  background-color: #0E0D0D;
}